<div class='container home_page'>
  <div class='row'>
    <div class='col-md-7 col-sm-12'>
      <%= cl_image_tag("Dosatrici-104_dcoxhz.jpg", alt: 'dosatrice volumetrica', quality: 80,  crop: "scale", class: 'responsive')%> 
    </div>
    <div class='col-md-5 col-xs-12 item-group'>
      <div class='item'>
        <h3><%= t('home.h3-one') %></h3>
        <p><%= t('home.one') %></p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-5 col-sm-12 item-group'>
      <div class='item'>
        <h3><%= t('home.h3-two') %></h3>
        <p><%= t('home.two') %></p>
      </div>
    </div>
    <div class='col-md-7 col-sm-12'>
      <%= cl_image_tag("Dosatrice_volumetrica_manuale_galli.jpg", quality: 80, crop: "scale", class: 'responsive')%> 
    </div>
  </div>
  <div class='row'>
    <div class='col-md-7 col-sm-12'>
      <%= cl_image_tag("Dosatrici-101_icppeq.jpg", quality: 80, crop: "scale", class: 'responsive')%> 
    </div>
    <div class='col-md-5 col-xs-12 item-group'>
      <div class='item'>
        <h3><%= t('home.h3-three') %></h3>
        <p><%= t('home.three') %></p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6 col-sm-12 item-group'>
      <div class='item'>
        <h3><%= t('home.h3-four') %></h3>
        <p><%= t('home.four') %></p>
      </div>
    </div>
    <div class='col-md-6 col-sm-12'>
      <%= cl_image_tag("IMG_20180530_115032_1_aysg0h.jpg", quality: 80, crop: "scale", class: 'responsive')%> 
    </div>
  </div>
</div>
