<% content_for :title do %>
	<%= t('products.title') %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-sm-12 margin--t-20">
      <h1 class='text-center'><%= t('products.title')%></h1>
      <p class='text-center products-subtitle'><%= t('products.subtitle') %></p>
    </div>
    <div class='col-sm-12 margin--t-20'>
	    <%= cl_video_tag("impianto_jbc3bj", autoplay: true, controls: true, 
      transformation: [ height:800, 
                        width: :auto,
                        crop: "pad",
                      ],
      fallback_content: "Your browser does not support HTML5 video tags.", class:'responsive' )%>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-xs-12 padding--60'>
      <%= cl_image_tag("dosatrice000_d8heci.jpg", 
                                    quality: "auto:eco",
                                    crop: "scale", 
                                    class: 'responsive')%>
    </div>
    <div class='col-md-6 col-xs-12 item-group'>
      <p class='products-subtitle text-center'><%= t('products.applicationtitle') %></p>
      <p class='text-center'><%= t('products.application') %></p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6 col-xs-12 item-group'>
      <p class='text-justify'><%= t('products.one') %></p>
    </div>
    <div class='col-md-6 col-xs-12 padding--60'>
      <%= cl_image_tag("dosatrice131_jiore1.jpg", 
                                    quality: "auto:eco",
                                    crop: "scale", 
                                    class: 'responsive')%>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12 item-group'>
      <p class='products-subtitle text-center'><%= t('products.choose-galli') %></p>
      <p class='text-justify'><%= t('products.two_html') %></p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4 col-xs-12 margin--b-5'>
      <%= cl_image_tag("IMG_20180529_135250_tgoj8o.jpg", 
                                    quality: "auto:eco",
                                    crop: "scale", 
                                    class: 'responsive')%>
    </div>
    <div class='col-md-4 col-xs-12 margin--b-5'>
      <%= cl_image_tag("IMG_20180531_084810_1_irmdks.jpg", 
                                    quality: "auto:eco",
                                    crop: "scale", 
                                    class: 'responsive')%>
    </div>
    <div class='col-md-4 col-xs-12 margin--b-5'>
      <%= cl_image_tag("IMG_20180529_135311_k3gyu5.jpg", 
                                    quality: "auto:eco",
                                    crop: "scale", 
                                    class: 'responsive')%>                            
    </div>
</div>

<div class='container margin--t-20'>
  <div class='row'>
    <div class='col-sm-12 col-xs-12'>
      <h2 class='text-center'><%= t('products.three')%></h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6 col-xs-12 margin--t-20 item-group'>
      <p class='products-subtitle text-center'><%= t('products.seriedv_subtitle') %></p>
      <p class='text-justify'><%= t('products.seriedv_html')%></p>
    </div>
    <div class='col-sm-6 col-xs-12 margin--t-20'>
      <%= cl_image_tag("foto_barattoli_jkih6r.jpg", 
                                    quality: "auto:eco",
                                    crop: "scale", 
                                    class: 'responsive')%>  
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-sm-6 col-xs-12 margin--t-20'>
      <p class='products-subtitle text-center'><%= t('products.industrial_application')%></p>
      <p class='text-center'><%= t('products.sectors') %></p>
			<ul class='application-list'>
	      <li><%= t('products.list-one')%></li>
				<li><%= t('products.list-two')%></li>
				<li><%= t('products.list-three')%></li>
				<li><%= t('products.list-four')%></li>
				<li><%= t('products.list-five')%></li>
				<li><%= t('products.list-six')%></li>
				<li><%= t('products.list-seven')%></li>
			</ul>
    </div>
    <div class='col-sm-6 col-xs-12 margin--t-20'>
      <p class='products-subtitle text-center'><%= t('products.whatcando') %></p>
      <p class='text-center'><%= t('products.advantages') %></p>
			  <ul>
	      	<li><%= t('products.adv-one')%></li>
	  			<li><%= t('products.adv-two')%></li>
	  			<li><%= t('products.adv-three')%></li>
	  			<li><%= t('products.adv-four')%></li>
	  			<li><%= t('products.adv-five')%></li>
				</ul>
    </div>
  </div>
</div>
	<table class="table table-hover">
	  <thead>
		  <tr  class="bg-info">
	  		<th scope="col"><%= t('products.model') %> </th>
				<th scope="col"><%= t('products.quantity') %> </th>
				<th scope="col"><%= t('products.speed') %> </th>
				<th scope="col"><%= t('products.airusage') %></th>
				<th scope="col"><%= t('products.pression') %></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>DV70</td>
				<td>5-70 cc</td>
				<td>50 pcs/min</td>
				<td>130 l/min</td>
				<td>6 bar</td>
			</tr>
			<tr>
				<td>DV350</td>
				<td>20-350 cc</td>
				<td>50 pcs/min</td>
				<td>130 l/min</td>
				<td>6 bar</td>
			</tr>
			<tr>
				<td>DV600</td>
				<td>40-600 cc</td>
				<td>40 pcs/min</td>
  			<td>280 l/min</td>
				<td>6 bar</td>
			</tr>
			<tr>
				<td>DV1100</td>
				<td>70-1100 cc</td>
				<td>40 pcs/min</td>
				<td>280 l/min</td>
				<td>6 bar</td>
			</tr>
			<tr>
				<td>DV5000</td>
				<td>500-5000 cc</td>
				<td>10 pcs/min</td>
				<td>440 l/min</td>
				<td>6 bar</td>
   		</tr>				
		</tbody>
	</table>
</div>
