<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Galli s.n.c.</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'navbar/navbar'  %>
    <%= yield %>
    <%= render 'footer/footer'  %>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
  </body>
</html>
