<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield(:title) %></title>
    <meta name="description" content= "Galli s.n.c. costruisce e distribuisce dosatrici e riempitrici volumetriche per il confezionamento di prodotti alimentari, chimici e cosmetici, siano essi liquidi, densi o pastosi.">
    <% keywords 'dosatrici, riempitrici, volumetriche, riempitrici volumetriche, dosatrice manuale, Galli s.n.c., dosing equipment, machine, alimentare, dolciaria, conserviera, casearia, cosmetica, chimica, petrolchimica, confezionatrici automatiche, alimentari, chimici, cosmetici'%>
    <link rel="alternate" href="https://dosatrice.com/en" hreflang="en" />
    <link rel="alternate" href="https://dosatrice.com/it" hreflang="it" />
    <%= favicon_link_tag image_path("stylesheets/images/favicon.ico")%>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <%= render 'navbar/navbar'  %>
    <%= yield %>
    <%= render 'footer/footer'  %>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?        id=UA-121910283-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-121910283-1');
    </script>
  </body>
</html>
